body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Inconsolata", monospace;
  color: white;
  padding: 0;
  margin: 0;
}


.bg-imgs img {
    object-fit: cover;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0%;
    transition-delay: 5s;
    transition: opacity 5s;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.title {
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 3rem;
}

.poem-container {
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
}

.poem-container p {
    margin: 1rem;
}

.poem-container p:hover {
    cursor: pointer;
    color: rgb(128, 127, 127);
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.subcontainer {
    font-size: max(1vw, 15px);
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container p {
    margin: 0;
    padding: 0;
}

#poem-title {
    font-size: max(1.5vw, 20px);
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer {
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}

.footer svg {
    margin-right: 0.5rem;
}

@media screen and (max-width: 600px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container {
        text-align: center;
    }
    .poem-container {
        font-size: 1rem;
    }
}